<ul class="collection with-header">
  <li class="collection-header"><h4>Bookmarked Locations</h4></li>
  <li class="collection-item avatar">
    <img src="images/yuna.jpg" alt="" class="circle">
    <span class="title">Title</span>
    <p>First Line <br>
      Second Line
    </p>
    <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
  </li>
</ul>