<div id="map-canvas" style="width: 100%; height: 500px;">
</div>
<script>
    var default_lat = 49.2598379;
    var default_lng = -123.2459363;
    var mapOptions = {
        center: new google.maps.LatLng(default_lat, default_lng),
        zoom: 12
    };

    var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    var marker;

    function centerMap(latLng) {
        map.panTo(latLng);
        if (marker) {
            marker.setMap(null);
            marker = null;
        }
        marker = new google.maps.Marker({
            map: map,
            animation: google.maps.Animation.DROP,
            position: latLng
        });
    }

    function geolocate() {
        utils.geolocate(function(position) {
            var latLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            centerMap(latLng);
        });
    }

    function processForm(e) {
        e.preventDefault();
        utils.geocode($('#new_location').val(), function(results) {
            var latLng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
            centerMap(latLng);
        });
        $('#modal2').closeModal();
        return false;
    }

   document.getElementById('location-form').addEventListener('submit', processForm);
   document.getElementById('location-submit').addEventListener('click', processForm);
</script>