<div id="map-canvas">
</div>

<%= javascript_tag do %>
    var events_latlons = [];
    <% TrafficEvent.all.each do |t| %>
        var latlons = [];
        <% LatLon.where(traffic_event: t).each do |l| %>
            var latlon = new google.maps.LatLng(<%= l.latitude  %>, <%= l.longitude %>);
            latlons.push(latlon);
        <%end%>
        events_latlons.push(latlons);
    <%end%>

    var events_titles = [];
    <% TrafficEvent.all.each do |t| %>
        events_titles.push("<%= t.title %>");
    <%end%>
<% end %>

<script>
    var default_lat = 49.2598379;
    var default_lng = -123.2459363;
    var mapOptions = {
        center: new google.maps.LatLng(default_lat, default_lng),
        zoom: 12
    };

    var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    var marker;
    var openWindow;

    function centerMap(latLng) {
        map.panTo(latLng);
        if (marker) {
            marker.setMap(null);
            marker = null;
        }
        marker = new google.maps.Marker({
            map: map,
            animation: google.maps.Animation.DROP,
            position: latLng
        });
    }

    function geolocate() {
        utils.geolocate(function(position) {
            var latLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            centerMap(latLng);
        });
    }

    function processForm(e) {
        e.preventDefault();
        utils.geocode($('#new_location').val(), function(results) {
            var latLng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
            centerMap(latLng);
        });
        $('#modal2').closeModal();
        return false;
    }

    function performSearch(e) {
        e.preventDefault();
        utils.geocode($('#search-query').val(), function(results) {
            var latLng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
            centerMap(latLng);
            $('#search-field')[0].reset();
        });
        return false;
    }



    function mapLayer(map) {
        var trafficLayer = new google.maps.TrafficLayer();
        trafficLayer.setMap(map);

        for (i=0; i < events_latlons.length; i++) {

            var lat_lon1 = events_latlons[i][0];
            var lat_lon2 = events_latlons[i][events_latlons[i].length - 1];

            putIcon(lat_lon1, events_titles[i], map);
            putIcon(lat_lon2, events_titles[i], map);

        }
    }

    function putIcon(lat_lon, title, map) {
        var marker = new google.maps.Marker({
            position: lat_lon,
            map: map
        });

        google.maps.event.addListener(marker, 'click', function() {
            if (openWindow)
                openWindow.close();

            openWindow =  new google.maps.InfoWindow({content: title});
            openWindow.open(map,marker);
        });

        google.maps.event.addListener(map, 'click', function() {
            if (openWindow)
                openWindow.close();
            openWindow = null;
        });

        google.maps.event.addListener(map, 'drag', function() {
            if (openWindow)
                openWindow.close();
            openWindow = null;
        });
    }

    mapLayer(map);

    document.getElementById('search-field').addEventListener('submit', performSearch);
    document.getElementById('location-form').addEventListener('submit', processForm);
    document.getElementById('location-submit').addEventListener('click', processForm);

    $('.traffic-card').click(centerMapCardClick);

    function centerMapCardClick(e) {
        map.panTo(new google.maps.LatLng($(this).data('lat'), $(this).data('lon')));
        map.setZoom(17);
    }
</script>
