<div id="map-canvas">
</div>

<%= javascript_tag do %>
    var events_latlons =
    [
    <% TrafficEvent.all.each do |t| %>
        [
        <% LatLon.where(traffic_event: t).each do |l| %>
            [ "<%= l.latitude  %>","<%= l.longitude %>"],
        <%end%>
        ["0","0"]
        ],
    <%end%>
    [
    ["0","0"]
    ]
    ];

    var events_titles = [
    <% TrafficEvent.all.each do |t| %>
        "<%= t.title %>",
    <%end%>
    "0"
    ];

<% end %>

<script>
    var default_lat = 49.2598379;
    var default_lng = -123.2459363;
    var mapOptions = {
        center: new google.maps.LatLng(default_lat, default_lng),
        zoom: 12
    };

    var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    var marker;

    function centerMap(latLng) {
        map.panTo(latLng);
        if (marker) {
            marker.setMap(null);
            marker = null;
        }
        marker = new google.maps.Marker({
            map: map,
            animation: google.maps.Animation.DROP,
            position: latLng
        });
    }

    function geolocate() {
        utils.geolocate(function(position) {
            var latLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            centerMap(latLng);
        });
    }

    function processForm(e) {
        e.preventDefault();
        utils.geocode($('#new_location').val(), function(results) {
            var latLng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
            centerMap(latLng);
        });
        $('#modal2').closeModal();
        return false;
    }

    function performSearch(e) {
        e.preventDefault();
        utils.geocode($('#search-query').val(), function(results) {
            var latLng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
            centerMap(latLng);
            $('#search-field')[0].reset();
        });
        return false;
    }



    function mapLayer(map) {
        var trafficLayer = new google.maps.TrafficLayer();
        trafficLayer.setMap(map);

        for (i=0; i < events_latlons.length-1; i++) {

            var lat_lon1 = events_latlons[i][0];
            var lat_lon2 = events_latlons[i][events_latlons[i].length - 2];

            if (events_latlons[i].length == 2) {
                putIcon(lat_lon, events_titles[i], map);
            } else {
                putIcon(lat_lon1, events_titles[i], map);
                putIcon(lat_lon2, events_titles[i], map);
            }
        }
    }

    function putIcon(lat_lon, title, map) {
        var myLatlon = new google.maps.LatLng(lat_lon[0], lat_lon[1]);

        var contentString = title;

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: myLatlon,
            map: map
        });

        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
        });
    }

    mapLayer(map);

    document.getElementById('search-field').addEventListener('submit', performSearch);
    document.getElementById('location-form').addEventListener('submit', processForm);
    document.getElementById('location-submit').addEventListener('click', processForm);
</script>
